.start-screen {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404040;
    overflow: hidden;

    img {
        max-height: 100vh;
    }
}

.start-label-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15vh;
    display: flex;
    justify-content: center;

    img {
        width: 30vw;
        max-width: 500px;
        height: auto;

        &:hover {
            filter: brightness(1.25);
            cursor: pointer;
        }

        @media (max-width: 960px) {
            width: 290px;
        }
    }

}