.field {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/board.jpg');
    background-size: cover;
}

.card-stack {
    position: relative;

    img {
        position: absolute;
        width: 120px;
    }
}

.top-card {
    transition: all 125ms ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card {
    transform: scale(1.2) translateX(120px) translateY(-220px) rotate(-10deg);
}

.pick-card {
    animation: pick-card-animation 500ms ease-in-out;
    transform: scale(1.2) translateX(120px) translateY(-220px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.5);
    }

    40% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.2) translateX(120px) translateY(-220px) rotate(-10deg);
    }
}

// .player-position {
//     position: absolute;
//     right: 0;
//     z-index: 1;
// }

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
    z-index: 1;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 200px;
    right: 200px;

    @media (max-width: 900px) {
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.scroll-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    @media (max-width: 900px) {
        bottom: unset;
        left: 0;
        flex-direction: row;
        padding: 0 10px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.game-over {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdfdfd;

    img {
        max-width: 100vw;
        height: 100%;
        animation: fadeIn 500ms ease-in-out;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.preload-image {
    height: 0;
    width: 0;
    opacity: 0;
    z-index: -9999999;
    position: absolute;
}